<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link rel="shortcut" type="image/x-icon" href="favicon.ico">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<% if (htmlWebpackPlugin.options.production) { %>
			<script src="scripts/pixi.min.js"></script>
		<% } %>
		<% if (!htmlWebpackPlugin.options.production) { %>
			<script src="scripts/pixi.js"></script>
		<% } %>
		<%= htmlWebpackPlugin.tags.headTags %>
	</head>
	<body>
		<%= htmlWebpackPlugin.tags.bodyTags %>
	</body>
</html>
